<div class="separadorOne">

    <div class="box2">
      <div class="box-text">
        <h3>Temperatura</h3>
        <div class="box-data">
          <div class="icon-data">
            <div class="sub-img-box lecturaOk">
              <img src="../assets/icon/ic_round-check.png" alt="">
            </div>
            <p>123</p>
          </div>
          <div class="icon-data">
            <div class="sub-img-box alertMedia">
              <img src="../assets/icon/peligro.png" alt="">
            </div>
            <p>123</p>

          </div>
          <div class="icon-data">
            <div class="sub-img-box alertRoja">
              <img src="../assets/icon/Alert - Triangle.png" alt="">
            </div>
            <p>123</p>

          </div>

        </div>
        <!--datos del box-->
      </div>
      <div class="box-img">
        <div class="img-box alertRoja">
          <img src="../assets/icon/Alert - Triangle.png" alt="">
        </div>
      </div>
      <!--icono del box-->
    </div>




    <div class="box2">
      <div class="box-text">
        <h3>Temperatura</h3>
        <div class="box-data">
          <div class="icon-data">
            <div class="sub-img-box lecturaOk">
              <img src="../assets/icon/ic_round-check.png" alt="">
            </div>
            <p>123</p>
          </div>
          <div class="icon-data">
            <div class="sub-img-box alertMedia">
              <img src="../assets/icon/peligro.png" alt="">
            </div>
            <p>123</p>

          </div>
          <div class="icon-data">
            <div class="sub-img-box alertRoja">
              <img src="../assets/icon/Alert - Triangle.png" alt="">
            </div>
            <p>123</p>

          </div>

        </div>
        <!--datos del box-->
      </div>
      <div class="box-img">
        <div class="img-box alertRoja">
          <img src="../assets/icon/Alert - Triangle.png" alt="">
        </div>
      </div>
      <!--icono del box-->
    </div>

    <div class="box2">
      <div class="box-text">
        <h3>Temperatura</h3>
        <div class="box-data">
          <div class="icon-data">
            <div class="sub-img-box lecturaOk">
              <img src="../assets/icon/ic_round-check.png" alt="">
            </div>
            <p>123</p>
          </div>
          <div class="icon-data">
            <div class="sub-img-box alertMedia">
              <img src="../assets/icon/peligro.png" alt="">
            </div>
            <p>123</p>

          </div>
          <div class="icon-data">
            <div class="sub-img-box alertRoja">
              <img src="../assets/icon/Alert - Triangle.png" alt="">
            </div>
            <p>123</p>

          </div>

        </div>
        <!--datos del box-->
      </div>
      <div class="box-img">
        <div class="img-box alertRoja">
          <img src="../assets/icon/Alert - Triangle.png" alt="">
        </div>
      </div>
      <!--icono del box-->
    </div>

    <div class="box2">
      <div class="box-text">
        <h3>Temperatura</h3>
        <div class="box-data">
          <div class="icon-data">
            <div class="sub-img-box lecturaOk">
              <img src="../assets/icon/ic_round-check.png" alt="">
            </div>
            <p>123</p>
          </div>
          <div class="icon-data">
            <div class="sub-img-box alertMedia">
              <img src="../assets/icon/peligro.png" alt="">
            </div>
            <p>123</p>

          </div>
          <div class="icon-data">
            <div class="sub-img-box alertRoja">
              <img src="../assets/icon/Alert - Triangle.png" alt="">
            </div>
            <p>123</p>

          </div>

        </div>
        <!--datos del box-->
      </div>
      <div class="box-img">
        <div class="img-box alertRoja">
          <img src="../assets/icon/Alert - Triangle.png" alt="">
        </div>
      </div>
      <!--icono del box-->
    </div>
  </div>


  <div class="separadorTwo">


    <div class="box2">
      <div class="box-text">
        <h3>Temperatura</h3>
        <div class="box-data">
          <div class="icon-data">
            <div class="sub-img-box lecturaOk">
              <img src="../assets/icon/ic_round-check.png" alt="">
            </div>
            <p>123</p>
          </div>
          <div class="icon-data">
            <div class="sub-img-box alertMedia">
              <img src="../assets/icon/peligro.png" alt="">
            </div>
            <p>123</p>

          </div>
          <div class="icon-data">
            <div class="sub-img-box alertRoja">
              <img src="../assets/icon/Alert - Triangle.png" alt="">
            </div>
            <p>123</p>

          </div>

        </div>
        <!--datos del box-->
      </div>
      <div class="box-img">
        <div class="img-box alertRoja">
          <img src="../assets/icon/Alert - Triangle.png" alt="">
        </div>
      </div>
      <!--icono del box-->
    </div>

    <div class="box2">
      <div class="box-text">
        <h3>Temperatura</h3>
        <div class="box-data">
          <div class="icon-data">
            <div class="sub-img-box lecturaOk">
              <img src="../assets/icon/ic_round-check.png" alt="">
            </div>
            <p>123</p>
          </div>
          <div class="icon-data">
            <div class="sub-img-box alertMedia">
              <img src="../assets/icon/peligro.png" alt="">
            </div>
            <p>123</p>

          </div>
          <div class="icon-data">
            <div class="sub-img-box alertRoja">
              <img src="../assets/icon/Alert - Triangle.png" alt="">
            </div>
            <p>123</p>

          </div>

        </div>
        <!--datos del box-->
      </div>
      <div class="box-img">
        <div class="img-box alertRoja">
          <img src="../assets/icon/Alert - Triangle.png" alt="">
        </div>
      </div>
      <!--icono del box-->
    </div>

    <div class="box2">
      <div class="box-text">
        <h3>Temperatura</h3>
        <div class="box-data">
          <div class="icon-data">
            <div class="sub-img-box lecturaOk">
              <img src="../assets/icon/ic_round-check.png" alt="">
            </div>
            <p>123</p>
          </div>
          <div class="icon-data">
            <div class="sub-img-box alertMedia">
              <img src="../assets/icon/peligro.png" alt="">
            </div>
            <p>123</p>

          </div>
          <div class="icon-data">
            <div class="sub-img-box alertRoja">
              <img src="../assets/icon/Alert - Triangle.png" alt="">
            </div>
            <p>123</p>

          </div>

        </div>
        <!--datos del box-->
      </div>
      <div class="box-img">
        <div class="img-box alertRoja">
          <img src="../assets/icon/Alert - Triangle.png" alt="">
        </div>
      </div>
      <!--icono del box-->
    </div>

    <div class="box2">
      <div class="box-text">
        <h3>Temperatura</h3>
        <div class="box-data">
          <div class="icon-data">
            <div class="sub-img-box lecturaOk">
              <img src="../assets/icon/ic_round-check.png" alt="">
            </div>
            <p>123</p>
          </div>
          <div class="icon-data">
            <div class="sub-img-box alertMedia">
              <img src="../assets/icon/peligro.png" alt="">
            </div>
            <p>123</p>

          </div>
          <div class="icon-data">
            <div class="sub-img-box alertRoja">
              <img src="../assets/icon/Alert - Triangle.png" alt="">
            </div>
            <p>123</p>

          </div>

        </div>
        <!--datos del box-->
      </div>
      <div class="box-img">
        <div class="img-box alertRoja">
          <img src="../assets/icon/Alert - Triangle.png" alt="">
        </div>
      </div>
      <!--icono del box-->
    </div>
  </div>

